body{
    background:#2c4e1a;
    background:-webkit-linear-gradient(to right, #77b987, #59d175, #bee5cf) ;
    background: linear-gradient(to right, #50B5D7, #067D68);
}

#join-btn{
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-100px;
    font-size:18px;
    color: #50B5D7;
    padding:20px 40px;
    border-radius: 30px;
    background-color: #fff;
    overflow: hidden
}

#video-streams{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    height: 90vh;
    width: 1400px;
    margin:0 auto;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid black;
}

.video-container{
    max-height: 100%;
    
    background-color: #203A49;
    border-radius: 30px;
    overflow: hidden
}

.video-player{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    overflow: hidden
}

button{
    border:none;
    background-color: #fff;
    color:#50B5D7;
    padding:10px 20px;
    font-size:16px;
    margin:2px;
    cursor: pointer;
    border-radius: 30px;
    overflow: hidden
}

#stream-controls{
    display: none;
    justify-content: center;
    margin-top:0.5em;
    border-radius: 30px;
    background-color: rgb(48, 48, 48);
    padding: 10px;
}

@media screen and (max-width:1400px){
    #video-streams{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 95%;
        border-radius: 30px;
        overflow: hidden
    }
}